<h1>Меню Администратора</h1>
<%= link_to 'Список станций', admin_railway_stations_path %> <br>
<%= link_to 'Cписок Поездов', admin_trains_path %> <br>
<%= link_to 'Cписок Маршрутов', admin_routes_path %> <br>
<%= link_to 'Билеты', admin_tickets_path %>
