<h1><%= t('.title') %></h1>

<table>
  <tbody>
    <%= render @railway_stations %>
  </tbody>
</table>

<br>

<%= link_to t('common.create'), new_admin_railway_station_path %> <br>
<%= link_to 'Главная страница', welcome_index_path %>
