<p><%= t('.title') %></p>

<p>
  <% if @railway_station.routes.any? %>
   Станция входит в следующие маршруты:
    <ul>
      <%@railway_station.routes.each do |route| %>
        <li><%=route.name %></li>
       <% end %>
    </ul>
  <% else %>
    Станция не входит не в один маршрут
  <% end %>
</p>

<%= link_to t('common.edit'), edit_admin_railway_station_path(@railway_station) %> |
<%= link_to t('common.back'), admin_railway_stations_path %>
