<h1><%= t('.title') %></h1>

<table>
  <tbody>
    <%= render @routes %>
  </tbody>
</table>

<br>

<%= link_to t('common.add'), new_admin_route_path %> <br>
<%= link_to t('common.back'), welcome_index_path %>
