<p>
  <strong>Верхних мест:</strong>
  <%= @car.up_places %>
</p>

<p>
  <strong>Нижних  мест:</strong>
  <%= @car.down_places %>
</p>

<p>
  <strong>Верхних боковых мест:</strong>
  <%=  @car.side_up_places %>
</p>

<p>
  <strong>Нижних боковых мест:</strong>
  <%= @car.side_down_places %>
</p>
